@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.showcase_portfolio {
    background-color: black;
}

.heading {
    margin-top: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    font-size: 3em;
    font-weight: 800;
    line-height: 2em;
    text-transform: uppercase;
}